[mysqld]
datadir=/data/mysql
socket=/data/mysql/mysql.sock
symbolic-links=0
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES 
lower_case_table_names=0
explicit_defaults_for_timestamp=true

[mysqld_safe]
log-error=/var/log/mysqld.log
id-file=/var/run/mysqld/mysqld.pid

[client]
socket=/data/mysql/mysql.sock
